// Шрифт по умолчанию
$basicFontFamily: "Manrope";

// Дополнительный шрифт
// $optionalFontFamily: "";

// Цветовая палитра
$mainColorRed: #fd2016;
$mainColorWhite: #ffffff;
$mainColorBlack: #000000;
$mainColorLinkDekstop: #2a2a2a;
//
$mainColorGrey: #575757;
$mainColorOrange: #ff9514;
$BackgroundInput: #f3f3f4;
$BackgroundInputAfter: #ebebec;
$BackgroundInputBefore: #e0e0e0;
$BackgroundInputrange: #e1e1e1;
$mainBtnColor: #ffffff;
$mainBtnBackground: #ff9514;
$mainBtnBackgroundHover: #111111;
$mainColorMobile: #333e48;
