// Шрифт по умолчанию
$basicFontFamily: "Manrope";

// Дополнительный шрифт
// $optionalFontFamily: "";

// Цветовая палитра
$mainColorWhite: #ffffff;
$mainColorBlack: #000000;
$mainColorPink: #d38787;
$mainColorBgCheckbox: #e82e5f;
$mainColorBg: #12343b;
$mainColorBtn: #f1af71;
$mainColorBorder: #cccccc;
