@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import "./base/reset";
@import "~Normalize.css";
@import "./base/var";
@import "./base/mixins";
@import "./base/sprite";
// @import "./base/fonts";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $mainColorWhite;
}

body {
  font-family: $basicFontFamily, sans-serif;
  font-weight: 500;
  font-size: rem(16);
}

.container {
  margin: 0 auto;
  width: rem(390);
}
// @media (min-width: em(768)) {
//   .container {
//     @include calcSizeRem(
//       "width",
//       sizeRem(1643),
//       sizeRem(940),
//       sizeRem(768),
//       sizeRem(280)
//     );
//   }
// }
@media (max-width: em(450)) {
  body {
    font-size: rem(18);
    @include calcSizeRem("font-size", sizeRem(18), sizeRem(14), sizeRem(450), sizeRem(320));
  }
  .container {
    @include calcSizeRem("width", sizeRem(390), sizeRem(280), sizeRem(450), sizeRem(320));
  }
}

@import "./components/todo";
